@font-face {
    font-family: 'Nunito';
    src: url(fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Open-Sans';
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
.fondobannerprincipal{
    background-image: url(Imagenes/10131712.jpg);
    background-size: cover;
    background-position: center;
    height: 87vh;
}
.titulobannerprincipal{
    font-family: 'Nunito';
    color:white;
    font-size: 50px;
    font-weight: 900;
}
.bannerfondo{
    background-color: rgba(25,135,84,0.7);
    border-radius: 20px;
}
.textobanner{
    font-family: 'Open-Sans';
    font-size: 23px;
    color: white;
}
.preTitulo{
    font-family: 'Nunito';
    color: orangered;
    font-size: 12px;
    font-weight: 100;

}
.TituloSecundario{
    font-family: 'Open-Sans';
    font-size: 28px;
    color: black;
    font-weight: 900;
}
.textogeneral{
    font-family: 'Open-Sans';
    color: black;
    font-size: 16px;
}
.completado{
    display: none;
}
.admitido{
    display: flex;
}
.grisespecialf{
    background-color: #525252;
}
.grisf{
    background-color: #E8E8E8;
}
.rosaf{
    background-color:#E21982;
}
.rojof{
    color: red;
}
.verdef{
    background-color: rgb(25,135,84);
}
.tituloAyuda{
    font-family: 'Nunito';
    font-size: 23px;
    color: white;
    font-weight: bold;
}
.azulf{
    background-color: #22193F;
}
.icono{
    color:rgb(25,135,84);
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: end;
}
.imageneshistoria{
    height: 300px;
    width: 400px;

}
.boton{
    font-family: 'Nunito';
    font-size:17px;
    color: white;
    font-weight: 900;
}
.navbartexto:hover{
    background-color:rgb(25,135,84);
    color: white;
}
.imagencv{
    width: 400px;
    height: 400px;
}
nav{
    box-shadow: 0px 5px 30px #525252;
}
.logo{
    height: 100px;
    width: 162px;
    padding: 10px;
}
.navbartexto{
    color: black;
    font-family: 'Open-Sans';
    font-size: 15px;
    padding: 40px;
}
.footerlink{
    text-decoration: none;
    font-family: 'Open-Sans';
    color: white;
    font-size:14px;
    padding: 10px;
}
.footerlink:hover{
    text-decoration: none;
    font-family: 'Open-Sans';
    color:rgb(25,135,84);
    font-size:14px;
    background-color: white;
    padding: 10px;
}
.footertext{
    font-family: 'Open-Sans';
    color: white;
    font-size:14px;
}
.textogeneral{
    font-family: 'Open-Sans';
    color: black;
    font-size: 16px;
}
.copyright{
    font-family: 'Open-Sans';
    color: white;
    font-size: 12px;
}
.barra{
    border-top: 2px solid white;
 }
.tituloAyuda{
    font-family: 'Nunito';
    font-size: 20px;
    color: white;
    font-weight: bold;
}